* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}

img {
    max-width: 100%;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000;
    width: 100vw;
    height: 100vh;
}

#nav {
    z-index: 9999;
    height: 100vh;
    height: calc(100vh - 20px);
    width: 30vw;
    max-width: 300px;
    min-width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

#nav-icon {
    display: none;
}

#nav .nav_item {
    display: flex;
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    font-size: 2.5vw;
    font-family: Raleway, Ubuntu, Arial, sans-serif;
    align-items: center;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #007bff;
}

#nav .nav_item:before {
    z-index: -1;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(0, 123, 255, 0.9);
    transition: width 0.4s cubic-bezier(0.27, 0.71, 0.48, 0.88);
}

#nav .nav_item:hover {
    color: #fff;
    cursor: pointer;
}

#nav .nav_item:hover::before, #nav .nav_item.active::before {
    width: 100%;
}

#nav .social_btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

#nav .social_btn svg {
    width: 24px;
    height: 24px;
}

#nav .social_btn a svg:hover path {
    fill: #fff;
}

#close {
    position: fixed;
    top: 50px;
    right: 5px;
    z-index: 9999;
    cursor: pointer;
    width: 32px;
}

#main {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0);
    width: 70vw;
    position: fixed;
    left: 30vw;
    height: 90vh;
    height: calc(100vh - 80px);
    transition: all 0.5s cubic-bezier(0.27, 0.71, 0.48, 0.88);
}


#sponsors_home img {
    max-width: 20%;
}

.title-home {
    color: #fff;
    font-weight: 700;
    font-size: 8vw;
    padding: 1vw;
    position: relative;
    font-family: Raleway, Ubuntu, Arial, sans-serif;
}
.title-home img {
    max-width: 50vw;
}

.about {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow-y: auto;
    font-family: Inconsolata, monospace;
}

.about p {
    font-size: 20px;
    margin: 16px 0;
    padding: 0 16px;
    max-width: 800px;
}

#events_all {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    left: 30vw;
    top: 0;
    text-align: center;
    padding-top: 40px;
    background: transparent;
}

#events_all .event_title {
    padding: 20px 50px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.05);
    color: #007bff;
    font-size: 3vw;
    font-family: Raleway, Ubuntu, Arial, sans-serif;
    align-items: center;
    position: relative;
    z-index: 10;
}

#events_all .event_title:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: width 0.2s cubic-bezier(0.27, 0.71, 0.48, 0.88);
}

#events_all .event_title:hover {
    cursor: pointer;
    color: #000;
}

#events_all .event_title:hover::before {
    background: #fff;
    width: 100%;
}

#event_details {
    font-family: Inconsolata, monospace;
    padding: 20px;
    padding-top: 48px;
    font-size: 140%;
    color: #00FF00;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    position: relative;
    top: -100vh;
    transition: top 0.2s cubic-bezier(0.27, 0.71, 0.48, 0.88);
}
#event_details.active {
    top: 0;
}

#event_details h2 {
    margin-bottom: 8px;
}

#event_details blockquote {
    padding: 10px;
    border-left: 2px solid #00FF00;
    margin: 10px;
}

#event_details hr {
    border: none;
    padding: 0;
}

#event_details hr:before {
    content: "---";
}

.footer {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    padding: 5px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    font-family: Inconsolata, monospace;
}

@media screen and (max-width: 700px) {
    #nav-icon {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 99;
    }
    #main, #main.active {
        width: 100vw;
        left: 0;
        padding: 10px;
    }
    #nav-icon svg {
        height: 24px;
    }
    #nav {
        left: -400px;
        top: -100vh;
        max-width: 100vh !important;
        width: 100vw !important;
        height: 100vh;
        height: calc(100vh - 40px);
        background: rgba(0, 123, 255, 0.9);
        transition: top 0.2s cubic-bezier(0.27, 0.71, 0.48, 0.88);
    }
    #nav.active {
        background: rgba(0, 123, 255, 0.95);
        left: 0;
        top: 40px;
        height: 100vh;
        z-index: 99;
    }
    #nav.active .nav_item {
        border: none;
        background: none;
        margin: 0;
        color: #fff;
        font-weight: bold;
    }
    #nav.active .nav_item:hover,
    #nav.active .nav_item:active, #nav .nav_item.active {
        background: rgba(0, 0, 0, 0.5);
    }
    #nav .nav_item:before, #nav .nav_item.active:before {
        width: 100%;
        background: none;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #events_all .event_title {
        font-size: 18px;
        width: auto;
    }

    #nav .nav_item {
        font-size: 22px;
    }
    #events_all {
        justify-content: center;
        overflow-y: scroll;
        height: 90vh;
        left: 0;
        height: calc(100vh - 40px);
        padding: 40px 30px;
    }
    #events_all .event_title {
        padding: 10px;
        margin: 10px;
        position: relative;
    }

    #event_details #events-title {
        display: none;
    }
    #event_details {
        font-size: 100%;
        padding: 10px 10px 40px;
    }
    .title-home {
        font-size: 6vh;
    }
    .about {
        justify-content: flex-start;
        padding: 0;
    }
}
